<!DOCTYPE html>

<html>

	<head>
		<title>Declare your voice here!</title>
		
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="container">	
			<div class="login">
				<br />
				<p class="clementine-text">Declare your voice here!</p>
				<br />
				<div class="btn-container" style="margin: 100px">
				<a href="/auth/github">
					<div class="myButton" id="login-btn">
						<img src="/public/img/github_32px.png" alt="github logo" />
						<p>LOGIN WITH GITHUB</p>
					</div>
				</a>
				<a href="/index">
					<div class="myButton" id="guest-btn">
						<img style="width: 32px; height: 32px" src="/public/img/guest_32px.png" alt="guest logo" />
						<p>GUEST ENTRANCE</p>
					</div>
				</a>
			</div>
			</div>
		</div>
	</body>

</html>