<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
	<p>Your browser is redirecting to <%=redirect%>...</p>
	<p>If your browser does not redirect, please click <a href='<%=redirect%>'>here</a></p>
</body>
</html>