<!DOCTYPE html>

<html>

	<head>
		<title>FCC NODE PROJECTS</title>
		<link href="/public/stock/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/public/stock/css/main.css" rel="stylesheet" type="text/css">


	</head>

	<body>
		<div class="container">
			<br />
			<a href='/stock' class="clementine-text">Stock Market Chart</a><span>(access using http, not https)</span>
			<br />
			<a href='/nightlife' class="clementine-text">Night Life Coordinator</a><span>(username: admin; password: admin)</span>
		</div>

		<div class="container">
  		<address>
          Written by <a href="mailto:xiangxianzui@gmail.com">xiangxianzui</a><br> 
          Github: <a href="https://github.com/xiangxianzui/fcc-node-stock-nightlife">xiangxianzui</a><br>
          Nanjing, China
        </address>
  		</div>
		
	</body>

</html>