<!DOCTYPE html>

<html>

	<head>
		<title>Pinterest Clone</title>
		<script type="text/javascript" src="/public/pinterest/js/jquery.js"></script>
		<script type="text/javascript" src="/public/pinterest/js/bootstrap.js"></script>
		<link href="/public/pinterest/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/public/pinterest/css/main.css" rel="stylesheet" type="text/css">
	</head>

	<header>
		<!--navbar starts-->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
            	<a class="navbar-brand" href="#"><span id="display-name"></span></a>
            </div>
            <div class="pull-right">
                <ul class="nav navbar-nav">
                	<li><a href="/book">Book Manager</a></li>
                    <li><a href="/pinterest">Pinterest Clone</a></li>
                    <li id='sign_in_li'><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                    <li id='sign_up_li'><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li id='profile_li' class='hide' title='Profile'><a href="/profile"><span class="glyphicon glyphicon-th"></span></a></li>
                    <li id='logout_li' class='hide' title='Log Out'><a href="/logout"><span class="glyphicon glyphicon-off"></span></a></li>
                </ul>
            </div>
        </nav>
        <!--navbar ends-->
	</header>

	<body>
		<div class="container">
			<div><h1 class="text-center" id='owner-name-h1'></h1><a href='/pinterest'><span class="glyphicon glyphicon-hand-left"></span> All</a><br><br></div>

			<div id='alert-div' class="alert alert-info alert-dismissible hide" role="alert">
  				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  				<strong>Authentication Failed!</strong>  To use this feature, please <a href='/login'>log in</a> first.
			</div>

			<div class='row' id='all-pinterest-div'>
			</div>

		</div>
		
	</body>

	<footer>
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
  			<div class="container">
    			<div style="margin-top: 1%">
          		<a href="mailto:xiangxianzui@gmail.com"><span class="glyphicon glyphicon-envelope"></span> Email</a> | 
          		<a href="https://github.com/xiangxianzui/fcc-node-book-pinterest"><span class="glyphicon glyphicon-home"></span> Github</a>
        		</div>
  			</div>
		</nav>
		
	</footer>

<script type="text/javascript">
	$(document).ready(function(){
		var ownerid = <%-JSON.stringify(userid)%>;
		var postData = {
			userid: ownerid
		};
		$.ajax({
			url: '/user/getUserById',
			type: 'POST',
			data: postData,
			success: function(data){
				var ownername = data.username;
				if(ownername){
					$('#owner-name-h1').text(ownername + "'s pinterests");
				}
			}
		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function(){
		var ownerid = <%-JSON.stringify(userid)%>;
		var postData = {
			ownerid: ownerid
		};
		$.ajax({
			url: '/pinterest/getByUser',
			type: 'POST',
			data: postData,
			success: function(data){
				var pinterests = data;
				if(pinterests!==null && pinterests.length!==0){
					pinterests.forEach(function(p){
						var pinterestid = p._id;
						var pinterestid_html = "<p class='hide'>"+pinterestid+"</p>";
						//alert(pinterestid);
						var pinterestname = p.pinterestname;
						var thumbnail = p.thumbnail;
						var thumbnail_path = '/public/pinterest/thumbnail/' + thumbnail;
						var ownerid = p.ownerid;
						var ownerid_html = "<p class='hide'>"+ownerid+"</p>";
						var likers = p.likers;
						var likers_html = "<p class='hide'>"+likers+"</p>";
						//alert(likers);
						var likes = p.likers.length;
						var postData = {
							userid: ownerid
						};
						$.ajax({
							url: '/user/getUserById',
							type: 'POST',
							data: postData,
							success: function(data){
								var owner_avatar = data.avatar;
								var owner_name = data.username;
								var html = "<div class='col-sm-6 col-md-4'><div class='thumbnail' style='border: none;'><img src='"+thumbnail_path+"' alt='pinterest image' style='width: 256px; height: 256px'><div class='caption text-center'><p>"+pinterestname+"</p>"+pinterestid_html+likers_html+ownerid_html+"<a title='"+owner_name+"' class='btn'><img style='width:30px; height:30px' src='/public/user/avatar/"+owner_avatar+"'></a><button id='like-btn' class='btn'><span class='glyphicon glyphicon-heart-empty'></span> <span id='like-num'>"+likes+"</span></button></div></div></div>";
								$('#all-pinterest-div').prepend(html);
							}
						});
	
					});
				}
				else{//No pinterests available
					//alert("No pinterests available!");
				}
			}
		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function(){
		$('#all-pinterest-div').on('click', '#like-btn', function(){
			var likeNum = $('#like-num').text();
			var pinterestid = $(this).parent().children().eq(1).text();
			var ownerid = $(this).parent().children().eq(3).text();
			var postData1 = {
				pinterestid: pinterestid
			};
			$.ajax({
				url: '/pinterest/getById',
				type: 'POST',
				data: postData1,
				success: function(data){
					if(data!==null){
						var likers = data.likers;
						$.ajax({
							url: '/user/:id',
							success: function(data){
								var currentUserId = data._id;
								if(currentUserId){//user logged in
									var isExist = false;
									likers.forEach(function(liker){
										if(liker===currentUserId){
											isExist = true;
										}
									});
									if(!isExist && currentUserId!==ownerid){
										//current user has not liked this pinterest 
										// and current user is not the owner of this pinterest
										var postData2 = {
											pinterestid: pinterestid,
											newLiker: currentUserId
										};
										$.ajax({
											url: '/pinterest/updateLikers',
											type: 'POST',
											data: postData2,
											success: function(data){
												if(data==='success'){
													window.location.reload();
												}
											}
										});
									}
								}
								else{//user not logged in
									$('#alert-div').removeClass('hide');
									window.location.href = '#';
								}
							}
						});
					}

				}
			});


		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function(){
		var isLogin = false;
		$.ajax({
			url: '/user/:id',
			success: function(data){
				var displayName = data.username;
                if(displayName){
                	$('#display-name').text(displayName);
                	isLogin = true;
                	$('#sign_in_li').addClass('hide');
                	$('#sign_up_li').addClass('hide');
                	$('#profile_li').removeClass('hide');
                	$('#logout_li').removeClass('hide');
                }
                else{
                    $('#display-name').text('Hello guest');
                    isLogin = false;
                }
			}
		});
	});
</script>

</html>