<!DOCTYPE html>
<html>
<head>
  
</head>

<body>
	<ul>
		<li><p>Your original url: <%=origin_url%></p></li>
		<li><p>Your short url: <%if(short_url){%>
  	<%=short_url%><%}else{%>'original url is not valid'<%}%>%></p></li>
	</ul>
</body>
</html>
